<!doctype html>
<html lang="en"
      th:replace="~{base :: parent(~{ :: #content},~{:: title},~{:: script})}"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title data-th-text="${loggedInUser.name}+' | Contactvault'">Profile page</title>
</head>
<body>
<div id="content">

    <!--if user is loggedin then sidebar-->
    <div th:if="${loggedInUser}">
        <div data-th-replace="~{user/sidebar::sidebar}"></div>
    </div>

    <div class="sm:pl-64 pt-20 " style="height:1000px">
        <div class="flex justify-center flex-col items-center">
        <h1 class="text-5xl">Welcome to Profile page.</h1>
        </div>
    </div>

</div>

<script>
    console.log("profile page");
</script>
</body>
</html>